.contactContainer {
	padding: 1rem;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}

table {
	text-align: center;
}

.hideButton {
	display: none !important;
}

.calendlyWidget {
	role: button;
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: var(--ifm-navbar-background-color);
	color: white;
	cursor: pointer;
	transition: 0.4s all ease-in-out;
}

.calendlyWidget:hover,
.calendlyWidget:focus {
	background-color: var(--ifm-color-primary-lightest);
}

:global(.calendly-badge-widget) {
	opacity: 0;
}
