.gr_grid_container {
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
}

.gr_grid_book_container {
	display: inline-block;
	width: 98px;
	height: 160px;
	overflow: hidden;
	border: 5px solid transparent;
	padding: 5px;
	transition: 0.4s all ease-in-out;
}

.gr_grid_book_container img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.gr_grid_book_container:hover {
	padding: 0px;
}

.bookshelf {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 1rem;
}

.favorite-quotes li {
	border: 1px dashed transparent;
	padding: 0.25rem 1rem;
}

.favorite-quotes li:hover {
	border: 1px dashed var(--ifm-navbar-link-hover-color);
}

.gr_grid_branding {
	padding: 1rem 2rem;
	text-align: center;
}
