.gr_grid_container {
	/* customize grid container div here. eg: width: 500px; */
}

.gr_grid_book_container {
	float: left;
	width: 98px;
	height: 160px;
	overflow: hidden;
	border: 5px solid transparent;
	display: flex;
	align-items: center;
	text-align: center;
	padding: 5px;
	transition: 0.4s all ease-in-out;
}

.gr_grid_book_container:hover {
	padding: 0px;
}

.bookshelf {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 1rem;
}

.gr_grid_branding {
	padding: 1rem 2rem;
	text-align: center;
}
